{% extends "EasytekEcmsBundle::adminLayout.html.twig" %}

{% block title %}{{ parent() }} - Livre d'or{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	{% stylesheets
		'@EasytekGuestbookBundle/Resources/less/admin_guestbook.less'
		filter='less,?yui_css'
		output='css/admin_guestbook.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock %}