{% extends "EasytekGuestbookBundle::adminLayout.html.twig" %}

{% block content %}

	<h1>Edition du message</h1>
	
	<ul class="record_actions">
	    <li>
	        <a href="{{ path('ecms_guestbook') }}">Retour à la liste des messages</a>
	    </li>
	</ul>
	
	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	<form action="{{ path('ecms_guestbook_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
		<p><button type="submit" class="btn">Supprimer</button></p>
	</form>
	
	{% form_theme edit_form 'MopaBootstrapBundle:Form:fields.html.twig' %}
	
	<form action="{{ path('ecms_guestbook_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
	    {{ form_widget(edit_form) }}
	    <p><button type="submit" class="btn">Enregistrer</button></p>
	</form>
	
{% endblock %}