{% extends "::layout.html.twig" %}

{% block content %}
{#	{% render(controller("EasytekEcmsBundle:Page:showAsBlockBySlug", {'slug': 'guestbook'})) %} #}
	
{#	{% include "EasytekGuestbookBundle:Guestbook:messages.html.twig" %} #}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	{% stylesheets
		'@EasytekGuestbookBundle/Resources/less/*'
		filter='less'
		output='css/guestbook_assets.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock %}