<div id="guestbook-page">
{# 	<h2>{% trans %}easytek.guestbook.livre_dor{% endtrans %}</h2>#}
	<div class="row">
		<div class="span8">
			<div class="messages">
				{% if messages is not empty %}
					{% for message in messages %}
						<div class="message">{{ message.text }}</div>
						<div class="infos">Message de {{ message.author }} {% if message.created %}le {{ message.created|date('d/m/Y') }}{% endif %}</div>
				    {% endfor %}
				{% else %}
					Aucun message n'a encore été ajouté.
				{% endif %}
			</div>
		</div>
		<div class="span8">
			<h3>{% trans %}easytek.guestbook.laissez_un_message{% endtrans %}</h3>
			
 			{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}
 			<form action="" method="post" {{ form_enctype(form) }}>
 			    {{ form_widget(form) }}
 			    <p class="submit">
 			        <button type="submit" class="btn">Ajouter</button>
 			    </p>
 			</form>
		</div>
	</div>
</div>