{% extends "EasytekGuestbookBundle::adminLayout.html.twig" %}

{% block content %}
	<h1>Liste des messages du livre d'or</h1>
	
	{% include "EasytekEcmsBundle::notification.html.twig" %}
	
	<table class="records_list">
	    <thead>
	        <tr>
	            <th>Texte</th>
	            <th>Auteur</th>
	            <th>Email</th>
	            <th>Créé le</th>
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td><a href="{{ path('ecms_guestbook_show', { 'id': entity.id }) }}">{{ entity.text }}</a></td>
	            <td>{{ entity.author }}</td>
	            <td>{{ entity.email }}</td>
	            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
	            <td>
	                <ul>
	                    <li>
	                        <a href="{{ path('ecms_guestbook_show', { 'id': entity.id }) }}">Voir</a>
	                    </li>
	                    <li>
	                        <a href="{{ path('ecms_guestbook_edit', { 'id': entity.id }) }}">Modifier</a>
	                    </li>
	                </ul>
	            </td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
	
	<ul>
	    <li>
	        <a href="{{ path('ecms_guestbook_new') }}">Ajouter un nouveau message</a>
	    </li>
	</ul>
{% endblock %}