{% extends "EasytekGuestbookBundle::adminLayout.html.twig" %}

{% block content %}
<h1>Créer un message</h1>

<ul>
	<li><a href="{{ path('ecms_guestbook') }}">Retour à la liste des messages</a></li>
</ul>

{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

<form action="{{ path('ecms_guestbook_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn">Créer</button>
    </p>
</form>

{% endblock %}