{% extends "EasytekGuestbookBundle::adminLayout.html.twig" %}

{% block content %}
	<h1>Message du livre d'or</h1>
	
	<ul class="record_actions">
	    <li>
	        <a href="{{ path('ecms_guestbook') }}">Revenir à la liste des messages</a>
	    </li>
	</ul>
	
	<form action="{{ path('ecms_guestbook_delete', { 'id': entity.id }) }}" method="post">
		{{ form_widget(delete_form) }}
		<button type="submit" class="btn">Supprimer</button>
	</form>
	
	<table class="record_properties">
	    <tbody>
	        <tr>
	            <th>Texte</th>
	            <td>{{ entity.text }}</td>
	        </tr>
	        <tr>
	            <th>Auteur</th>
	            <td>{{ entity.author }}</td>
	        </tr>
	        <tr>
	            <th>Email</th>
	            <td>{{ entity.email }}</td>
	        </tr>
	        <tr>
	            <th>Créé le</th>
	            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
	        </tr>
	    </tbody>
	</table>
	
	<p><a href="{{ path('ecms_guestbook_edit', { 'id': entity.id }) }}" class="btn">Modifier</a></p>

{% endblock %}