#guestbook-page {
	
	.messages {
		margin: 0 20px 25px 0;
	}

	.infos {
		background-color: #dedede;
		
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		
		font-size: 11px;
		padding: 5px;
		margin-bottom: 15px;
	}
	
	.message {
		background-color: #ededed;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		color: #000;
		padding: 5px;
	}
	
	h3 {
		margin-bottom: 20px;
	}
	
	#easytek_guestbookbundle_messagetype_author,
	#easytek_guestbookbundle_messagetype_email,
	#easytek_guestbookbundle_messagetype_text {
		width: 97%;
	}
	
	.input img {
		vertical-align: middle;
	}
}